.card.card-content-display
  %h1 Media Logos to Your Website
  / <p><img alt="'As Seen On' Media Logos" title="'As Seen On' Media Logos" class="card card_img" src="/images/content/pr/conversion-optimization-add-as-seen-on-media-logos.jpg"></p>
  %h2 Instructions
  %ol
    %li Open your press release distribution report.
    %li Select favorite media site from each of the corresponding news networks (eg. FOX).
    %li Enter the links to those corresponding media sites below.
    %li Copy and paste the embed code to your website.
    %li Upload to Publish!
  %br/
  %button.button.button4 Add Field +
  .ng-scope{"ng-app" => "mediaLogos", "ng-controller" => "mediaLogos"}
    .form-group.is-empty.input_dev
    %br/
    .togglebutton
      %label
        %input.ng-pristine.ng-untouched.ng-valid.ng-empty.grayscale{"ng-model" => "grayscale", type: "checkbox"}/
        Apply Grayscale Filter to Media Logos
    %h2{style: "text-align:center"} As Seen In
    %div{style: "text-align:center"}
      .gray_active
      .gray_inactive
    %h2 Embed Code
    %p
      Copy and paste the code below to the HTML of your website
    %textarea#txtSelect.card_text_area.ng-binding{style: "width:calc(100% - 20px); height:150px; font-family: monospace; font-size: 13px; padding:10px; color:#333;"}

