.card.card-content-display
  %h1{style: "text-align:center"} Media Logos to Your Website
  / <p><img alt="'As Seen On' Media Logos" title="'As Seen On' Media Logos" class="card card_img" src="/images/content/pr/conversion-optimization-add-as-seen-on-media-logos.jpg"></p>
  %br/
  %button.button.button4 Add Field +
  .ng-scope{"ng-app" => "mediaLogos", "ng-controller" => "mediaLogos"}
    .form-group.is-empty.input_dev
    %br/
    .togglebutton
      %label
        %input.ng-pristine.ng-untouched.ng-valid.ng-empty.grayscale{"ng-model" => "grayscale", type: "checkbox"}/
        Apply Grayscale Filter to Media Logos
    %div{style: "text-align:center"}
      %div{style: "text-align:center"}
        .gray_active_div
          %div.gray_active{style: "text-align:center"}
            %h2{style: "text-align:center"} As Seen In
        .gray_inactive_div
          %div.gray_inactive{style: "text-align:center"}
            %h2{style: "text-align:center"} As Seen In
    %h2 Embed Code
    %p
      Copy and paste the code below to the HTML of your website
    %textarea#txtSelect.card_text_area.ng-binding{style: "width:calc(100% - 20px); height:150px; font-family: monospace; font-size: 13px; padding:10px; color:#333;"}

